* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-right: 20px;
    margin-top: 20px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    border-right: 7px solid rgb(188, 186, 186);
}

nav li{
    border-top: 5px solid rgb(188, 186, 186);
    font-size: 18px;
    list-style: none;
}

nav a{
    display: block;
    padding: 22px;
    padding-left: 20px;
    color: black;
    text-decoration: none;
    font-family: helvetica;
    cursor: pointer;
}

#nav-header{
    font-size: 27px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    background-color: rgb(209, 131, 71);
    padding: 20px 0;
}

main{
    margin-left: 340px;
    padding: 20px;
    font-family: helvetica;
    max-width: 100%;
    background-color: antiquewhite;
}

section{
    display: block;
    color: rgb(75, 75, 75);
}

section header{
    font-size: 27px;
    font-weight: bold;
    padding: 20px 0 15px 0;
    color: black;
}

p, section ol{
   margin-left: 20px;
   line-height: 20px;
}

section ol{
    padding-left: 35px;
    line-height: 25px;
}

.code{
    width: 50%;
    overflow: auto;
    border: solid rgba(62, 62, 62, 0.279);
    margin: 1em 0;
}

code{
    display: block;
    text-align: left;
    /* max-width: 100%; */
    color: black;
    margin-left: -100px;
    margin-top: 15px;
}

img{
    display: block;
    width: 100%;
    max-width: 40%;
    margin: 20px auto;
}

@media screen and (max-width: 815px) {
    nav{
        width: 100%;
        position: static;
        top: 0;
        height: 49.7%;
        border-left: 7px solid rgb(188, 186, 186);
    }

    #last{
        border-bottom: 5px solid rgb(188, 186, 186);
    }

    nav li{
        margin-bottom: 5px
    }

    body{
        margin: 0 20px 20px 20px;
    }

    main{
        margin-left: 0;
        margin-top: 20px;
    }

    .code{
        width: 100%;
    }

    code{
        margin-left: -150px;
    }

    img{
      max-width: 70%; 
    }

}